<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Group Name: {{group_name}} </h1>
    <!-- Databse Chat -->
    <textarea  id="txt_area" cols="100" rows="20">
        {% for chat in chats %}
            {{chat.content}}
        {% endfor %}
    </textarea>   <br>
    <!--  -->
    <input id="chat-input" type="text" size="100">  <br>
    <input id="chat-submit" type="button" value="Send">

    {{group_name|json_script:"group-name"}}

    <script>
        const groupName= JSON.parse(document.getElementById('group-name').textContent)
        console.log(groupName)

        <!-- const socket = new WebSocket('ws://127.0.0.1:8000/ws/<str:groupkaname>/'); -->
            const socket = new WebSocket('ws://'+window.location.host+'/aws/'+groupName+'/');

            socket.onopen = function() {
                console.log('WebSocket connected!');
            };
            
            socket.onmessage = function(event) {
                console.log('Message received from server...', event.data);
                const data = JSON.parse(event.data);
                console.log(data.message)
                document.querySelector('#txt_area').value +=(data.msg +'\n');
            };
            socket.onclose = function() {
                console.log('Websocket Connection closed unexpectedly...');
            };

            document.getElementById("chat-submit").onclick= function(event){
                const messageInputDom = document.getElementById("chat-input");
                const message = messageInputDom.value;
                socket.send(JSON.stringify({'msg': message}));
                messageInputDom.value = '';
            };

    </script>
</body>
</html>
